hsperfdata_gradle
HELP.md
.gradle
/build/
.DS_Store
.idea/
settings/
.vscode/
gradle/
.env
.gradle
.settings/
gradlew
gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Python ###
__pycache__/

### Functional Tests ###
*/data_used.txt
*/data/data_used.txt
*/test_workbook.xlsx

journal
